body{
    background: rgb(185, 184, 184);
}
h1{
    text-align: center;
    padding: 20px;
    background-color: rgb(151, 150, 150);
}
#images{
    width: 90%;
    text-align: center;
}
img{
    width: 250px;
    height: 250px;
    border: solid rgb(78, 75, 75) 1px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(128, 126, 126);
}
#btn{
    padding: 10px;
    font-size: 15px;
    margin-left:180px;
    font-weight: bold;
    width: 100px;
    box-shadow: 5px 5px 5px 5px rgb(128, 126, 126);
}